body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

section {
  width: 100%;
  left: 0;
  top: 0;
  padding: 2rem;
  margin: 0;
}
.header {
  background: var(--sunset);
  width: 100%;
  padding: 2rem;
  margin: 0;
}

.contain-table{
    padding: 0;
}

table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    position: relative;
  }
  
  caption {
    text-align: left;
    font-style: italic;
    padding: 0.25em 0.5em 0.5em 0.5em;
  }

  tbody tr:hover {
    background: var(--grey-3);
  }
  
  th,
  td {
    padding: 0.25em 0.5em 0.25em 1em;
    vertical-align: text-top;
    text-align: left;
    text-indent: -0.5em;
  }
  
  /* thead {
    position: relative;
  } */

  th {
    vertical-align: bottom;
    background: var(--pink);
    color: #fff;
    position: sticky;
    top: 0;
  }
  
  tr:nth-child(even) th[scope=row] {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(odd) th[scope=row] {
    background-color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  td:nth-of-type(2) {
    font-style: italic;
  }
  
  th:nth-of-type(3),
  td:nth-of-type(3) {
    text-align: right;
  }
  
  